.header{
    grid-area: h;
    background: #ff4e4e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
  }
  .header img{
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid #7e1a1a;
  }
  .loginBlock{
    position: absolute;
    right: 20px;
  }
  .loginBlock a{
    color: white;
    text-decoration: none;
  }